body {
    margin: 0px;

    background-color: #232528;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-container {
    /* background-color: rgb(41, 41, 41); */
    width: 100%;
    max-width: 1530px;
    min-height: 100vh;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-header__container {
    background-color: #232528;
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    text-shadow: 1px 1px 2px #9EB25D;

    width: 100%;

    margin-bottom: 20px;
}

.main-header {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.interactiveUI__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: gray;

    min-width: 500px;
    margin-top: 20px;
    padding-bottom: 10px;
    
    border-style: solid;
    border-width: 4px;
    border-radius: 0px 0px 15px 15px;
    border-color: rgb(178, 178, 178);
}

#button-container {
    display: none;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 6px;

    min-width: 320px;
}

.btn__choice {
    background-color: white;
    
    border-style: solid;
    border-radius: 2%;
    border-width: 2px;
    border-radius: 15px 15px 15px 15px;
    border-color: white;

    box-shadow: 0px 0px 4px rgb(210, 210, 210);

    min-height: 42px;
    min-width: 80px;

    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.btn__choice:hover {
    transition: all 0.1s ease-in-out;

    border-color: lightblue;
    border-width: 4px;
    box-shadow: -2px 2px 2px black;
}

.btn__choice--left {
    border-radius: 15px 2px 2px 2px;
    background-color: lightblue;
}

.btn__choice--left:hover {
    box-shadow: 2px 2px 2px black;
    border-color: plum;
}

.btn__choice--right {
    border-radius: 2px 15px 2px 2px;
    background-color: plum;
}

.btn__summary {
    grid-area: 2/1/3/3;

    border-radius: 2px 2px 15px 15px;

    background-color: #9EB25D;
}

#explanation-text {
    font-family: 'Lato', sans-serif;
    font-weight: 400;

    font-size: 20px;

    color: black;

    margin-bottom: 0px;
}

#form {
    display: flex;
    flex-direction: column;

    min-width: 320px;

    margin-top: 5px;
}

.form__input__container {
    width: 100%;
}

.form__input {
    width: 100%;

    border-style: solid;
    border-radius: 2px 10px 2px 10px;
    border-color: black;

    box-shadow: -2px 2px 2px gray;

    font-size: 16px;

    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.form__input__label {
    font-family: 'Lato', sans-serif;
    font-weight: 400;

    color: white;
}

.form__lower__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__confirm__text {
    color: rgb(62, 246, 62);

    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    
    visibility: hidden;
}

#form-text-label {
    display: none;
}

#form-numbers-label {
    display: none;
}

#form-btn {
    max-width: 90px;

    margin-top: 6px;

    align-self: flex-end;
}

#summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 90%;
}

.summary__balance {
    font-family: 'Lato', sans-serif;
    font-weight: 700;

    color: white;

    margin-bottom: 0px;
}

.summary__divider {
    width: 100%;
    height: 5px;

    margin-top: 10px;
    margin-bottom: 10px;

    /* border-top-style: solid;
    border-top-width: 5px;
    border-top-color: grey; */

    box-shadow: 0px 0px 3px rgb(210, 210, 210);
}

.summary__list__container {
    display: flex;
    justify-content: center;

    width: 90%;

    margin-bottom: 20px;
}

.summary__list {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;

    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

.summary__header {
    font-family: 'Lato', sans-serif;
    font-weight: 700;

    color: white;

    order: 1;

    margin-top: 0px;
}

.summary__card{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    min-width: 110px;
    width: 100%;

    background-color: lightgreen;

    border: none;
    border-style: solid;
    border-radius: 0px 0px 15px 15px;
    border-color: white;
    border-width: 1px;

    margin: 5px;

    box-shadow: 0px 0px 4px rgb(210, 210, 210);
}

.summary__card--income {
    background-color: lightblue;  
}

.summary__card--expenses {
    background-color: plum;
}

.amount__text {
    padding-right: 10px;
    padding-left: 10px;

    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: black;
}